# Node modules (dépendances)
node_modules/

# Fichiers d'environnement (clé, secrets)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers de build (si tu as un build par exemple)
dist/
build/

# Cache IDE / système (exemples)
.vscode/
.DS_Store
